<link rel="stylesheet" href="/assets/admin/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/admin/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/admin/css/templatemo-style.css">

<div id="reportsPage">
  <div class="" id="home">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" routerLink="/admin/dashboard" routerLinkActive="active">
          <h1 class="tm-site-title mb-0">Product Admin</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/product" routerLinkActive="active">
                <i class="fas fa-shopping-cart"></i>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/account" routerLinkActive="active">
                <i class="far fa-user"></i>
                Accounts
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isLoggedIn; else loginLink">
              <a class="nav-link d-block" (click)="logout()">
                {{ userName }}, <b>Logout</b>
              </a>
            </li>
            <ng-template #loginLink>
              <li class="nav-item">
                <a class="nav-link d-block" routerLink="/login">Login</a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet />
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2018</b> All rights reserved.
          Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
      </div>
    </footer>
  </div>
</div>

<script src="/assets/admin/js/jquery-3.3.1.min.js"></script>
<script src="/assets/admin/js/bootstrap.min.js"></script>
