<link rel="stylesheet" href="/assets/css/core-style.css">
<link rel="stylesheet" href="/assets/css/style.css">
<!-- Search Wrapper Area Start -->
<app-search />
<!-- Search Wrapper Area End -->
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
  <!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
      <a routerLink="/"><img src="assets/img/core-img/logo.png" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
      <span></span><span></span><span></span>
    </div>
  </div>
  <!-- Header Area Start -->
  <app-header />
  <!-- Header Area End -->
  <!-- Product Catagories Area Start-->
  <div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
      <!-- Single Catagory -->
      <div class="single-products-catagory clearfix">
        <a routerLink="/shop">
          <img src="assets/img/bg-img/1.jpg" alt="">
          <!-- Hover Content -->
          <div class="hover-content">
            <div class="line"></div>
            <p>From $180</p>
            <h4>Modern Chair</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Product Catagories Area End-->
</div>
<!-- ##### Main Content Wrapper End ##### -->
<!-- ##### Newsletter Area Start ##### -->
<app-newsletter-form />
<!-- ##### Newsletter Area End ##### -->
<!-- ##### Footer Area Start ##### -->
<app-footer />
<!-- ##### Footer Area End ##### -->
<!--<script src="/assets/js/jquery/jquery-2.2.4.min.js"></script>-->
<!--&lt;!&ndash; Popper js &ndash;&gt;-->
<!--<script src="/assets/js/popper.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap js &ndash;&gt;-->
<!--<script src="/assets/js/bootstrap.min.js"></script>-->
<!--<script src="/assets/js/plugins.js"></script>-->
<!--<script src="/assets/js/active.js"></script>-->
