.amado_product_area--modify {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(95% - 550px);
    flex: 0 0 calc(95% - 260px);
    width: calc(95% - 260px);
    max-width: calc(95% - 260px);
}